.wrapper{
    width: 100%;
    height: auto;
    background-image: url(/img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.truncated-link {
  display: inline-block;      /* Đảm bảo rằng đường dẫn chiếm chiều rộng nhất định */
  white-space: nowrap;         /* Ngăn chặn quấn dòng */
  overflow: hidden;            /* Ẩn phần dư thừa */
  text-overflow: ellipsis;     /* Hiển thị dấu "..." khi nội dung bị cắt */
  max-width: 210px;            /* Đặt chiều rộng tối đa */
  border: 1px solid #ccc;       /* Thêm viền để phân biệt rõ ràng */
  padding: 5px;                 /* Thêm padding để tạo khoảng cách với viền */
  text-decoration: none;       /* Loại bỏ gạch chân mặc định cho liên kết */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


h2 {
    text-align: center;
    margin-bottom: 30px;
  }

.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #472dbb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #4565a0;
  }

  p {
    margin-top: 15px;
  }


.bloc_left_price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}
.category_block li:hover {
  background-color: #007bff;
}
.category_block li:hover a {
  color: #ffffff;
}
.category_block li a {
  color: #343a40;
}
.add_to_cart_block .price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
  color: #343a40;
  text-align: center;
  text-decoration: line-through;
  font-size: 140%;
}
.product_rassurance {
  padding: 10px;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #6c757d;
  color: #6c757d;
}
.product_rassurance .list-inline {
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}
.product_rassurance .list-inline li:hover {
  color: #343a40;
}
.reviews_product .fa-star {
  color: gold;
}
.pagination {
  margin-top: 20px;
}
footer {
  background: #343a40;
  padding: 40px;
  margin-top: 20px;
}
footer a {
  color: #f8f9fa!important
}
.bgc{
  background-image: url(image/Clothes+and+shoes-74_banner.jpg);
  /*background-image: url("https://envato-shoebox-0.imgix.net/a553/ba21-ce80-45ee-82d4-120907cdb414/Clothes+and+shoes-74_banner.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=a9cc1545e602fe3d3e6c9faed39f0a84");*/
}
.show_txt{
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
a .active{
  color: white;
}



  