<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY SHOE STORE</title>
    <link rel="stylesheet" href="/css/style_lg.css">
    <link rel="stylesheet" href="cl-icon/css/all.min.css">
</head>
<body style="display:flex; align-items:center; justify-content:center;">
    <div class="wrapper">
        <form action="/login" method="post" class="form">
            <h1 class="title">LOGIN</h1>
            <div class="inp">
                <input type="text" name="username" id="" class="input" placeholder="username">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="password" name="password" id="" class="input" placeholder="password">
                <i class="fa-solid fa-lock"></i>
            </div>
            <button class="submit">Login </button>
            <p class="footer">You do not have an account?  <a href="/signup" class="link">Please Register</a></p>   
        </form>
        <div></div>
        <div class="banner">
            <h1 class="wel_text">MY SHOE STORE</h1><br>
            <p class="para"></p>
        </div>
    </div>
</body>
</html>